$base-dark: rgba(17, 17, 17, 1);
$base-dark-transparent: rgba(17, 17, 17, 0);
$gradient-dark: rgba(37, 37, 37, 0.61);
$btn-dark: rgba(51, 51, 51, 0.5);
$base-white: rgba(255, 255, 255, 1);
$base-red: rgb(229, 9, 20, 1);
$background_uri: "https://assets.nflxext.com/ffe/siteui/vlv3/757ab38f-5d08-40bc-b3eb-eaba63ed8203/93c34f94-56c8-40a7-8b2e-b4aac6427977/GB-en-20210125-popsignuptwoweeks-perspective_alpha_website_medium.jpg";
