@import "../../constants/variables";

.loginScreen_background {
    .loginScreen_logo {
        position: fixed;
        left: 20px;
        top: 20px;
        height: 38px;
        object-fit: contain;
    }

    .loginScreen_button {
        position: fixed;
        right: 20px;
        top: 20px;
        padding: 10px 20px;
        border-radius: 3px;
        font-size: 1rem;
        color: $base-white;
        background-color: $base-red;
        border: none;
        font-weight: 400;
        cursor: pointer;
    }

    .loginScreen__gradient{
        height: 100vh;
        width: 100%;
        z-index: 1;
        background: rgba($color: #000000, $alpha: 0.4);
        background-image: linear-gradient(
            to top,
            rgba($color: #000000, $alpha: 0.8) 0,
            rgba($color: #000000, $alpha: 0) 60%,
            rgba($color: #000000, $alpha: 0.8) 100%,
        );
    }
}